@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

  .btn {
    @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap;
  }
}

.react-datepicker__close-icon {
  background-color: transparent;
  padding: 0 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
}

.react-datepicker__close-icon:before,
.react-datepicker__close-icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: #f0f0f0;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top left;
  content: "";
}
.react-datepicker__close-icon:after {
  transform: rotate(-45deg) translate(-50%, -50%);
}

.txt-input:focus {
  border-color: rgb(0, 146, 210);
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 146, 210, 0.4);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.providers-wrapper {
  min-height: calc(100vh - 64px);
}
